.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url(../public/images/background.png);
}

._container {
  max-width: 1140px;
  box-sizing: content-box;
  margin: 0px auto;
  padding: 0 20px;
}

 
  





 

 

  

 
 
  


